<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Producto</title>
</head>
<body>
  <h1>Subir un nuevo producto</h1>
  
  <form action="/products/add" method="POST" enctype="multipart/form-data">
    <label for="productTitle">Título del Producto</label>
    <input type="text" name="productTitle" id="productTitle" required>
  
    <label for="productDescription">Descripción del Producto</label>
    <textarea name="productDescription" id="productDescription"></textarea>
  
    <label for="productPrice">Precio del Producto</label>
    <input type="number" name="productPrice" id="productPrice" required>
  
    <!-- Campo para subir la imagen -->
    <label for="productImage">Subir imagen del producto</label>
    <input type="file" name="productImage" id="productImage" accept="image/*" required>
  
    <button type="submit">Agregar Producto</button>
  </form>
</body>
</html>